{
    debug
    order filter after encode
}

gsce.in {
      redir  https://www.gsce.in{uri} permanent
}

www.gsce.in {
	reverse_proxy {
		to https://shirelandtechnologyprimary.org.uk
		header_up -Accept-Encoding
		header_up Host "shirelandtechnologyprimary.org.uk"
	}
	filter {
		content_type .*
		search_pattern "shirelandtechnologyprimary.org.uk"
		replacement "www.gsce.in"
	}
	filter {
		content_type .*
		search_pattern `<a class="contact-email.*?protected]</span></a>`
		replacement `<p class="contact-email"><i class="fas fa-envelope fa-lg"></i>info@shirelandtechnologyprimary.net</a></p>`
	}
}
